*,
*::before,
*::after,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.social-icons > li {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.union {
  display: inline-block;
}

.menu-links {
  display: none;
}

main {
  background-color: #f7f7f9;
}

.mobile-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.2s ease-in-out;
  background-color: rgba(41, 58, 208, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: none;
}

.nav-toggle {
  display: flex;
  flex-direction: column;
}

.close-button {
  color: #fff;
  font-size: 34px;
  padding-top: 50px;
  float: right;
  margin-left: 85%;
}

.introduction {
  background-image: url(./images/header-bg.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-size: 100%;
  background-color: #fff;
  border-bottom-left-radius: 90px;
  padding: 120px 24px 150px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
}

.first-intro {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  width: 80%;
}

.second-intro {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
}

.social {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #303fc5;
  margin-top: 0.5rem;
}

ul.social-icons {
  display: flex;
  margin-top: 0.5rem;
  gap: 1rem;
}

.projects-section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 114px 24px 114px 24px;
  gap: 88px;
  justify-content: center;
  background: #f7f7f9;
}

.card-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  gap: 12px;
  padding: 16px;
}

.portfolio-card1 {
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 8px;
  display: inline-block;
  width: 100%;
}

.portfolio-desktop1 {
  display: none;
}

.project-desc {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project-title {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 2px;
}

.frame2 {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

.frame2 > img {
  margin: 0 12px;
}

.frame2 > h4 {
  color: #303fc5;
}

.text {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tag {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  gap: 0.5rem;
  margin: 1rem 0;
}

button.skill {
  color: #3440b2;
  cursor: pointer;
  background: #ebebff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: 0;
  padding: 4px 12px;
}

button.skill:enabled {
  background: #ebebff;
  color: #7f8cff;
}

button.skill:hover {
  background: #6070ff;
  color: #fff;
}

button.skill:active {
  background: #2230d2;
  color: #fff;
}

button.skill:disabled {
  background: #fff;
  color: #5e6c84;
}

.normal-button {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #6070ff;
  cursor: pointer;
  border-radius: 8px;
  padding: 12px;
  background: #fff;
  width: 50%;
  margin-bottom: 1rem;
}

.normal-button:enabled {
  background: #fff;
  color: #7f8cff;
}

.normal-button:hover {
  background: #6070ff;
  color: #fff;
}

.normal-button:active {
  background: #2230d2;
  color: #fff;
}

.normal-button:disabled {
  background: #fff;
  color: #5e6c84;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  border-top-right-radius: 70px;
  background: #fff;
}

.about-first-intro {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin: 114px 0 12px 24px;
}

.about-second-intro {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  margin-left: 24px;
}

.about-social {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #303fc5;
  margin: 20px 0 20px 24px;
}

ul.about-social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin: 0 0 20px 20px;
  list-style: none;
}

.resumebtn {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #6070ff;
  cursor: pointer;
  border-radius: 8px;
  padding: 12px;
  background: #fff;
  margin-left: 24px;
  margin-right: 164px;
}

.resumebtn:enabled {
  background: #fff;
  color: #7f8cff;
}

.resumebtn:hover {
  background: #6070ff;
  color: #fff;
}

.resumebtn:active {
  background: #2230d2;
  color: #fff;
}

.resumebtn:disabled {
  background: #fff;
  color: #5e6c84;
}

.skill-list {
  margin-top: 2rem;
}

.lang {
  margin-bottom: 2rem;
}

ul.lang-frame-skills {
  margin: 0 0 100px 0;
  padding: 0;
}

.lang-frame-skills > li {
  list-style: none;
}

.lang-list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 24px;
}

.lang-list-skill {
  margin: 0 24px;
}

.lang-list-skill > div {
  background: #f7f7f9;
  border-radius: 8px;
  margin: 0 12px 12px 12px;
  padding: 9px 0 9px 12px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.lang-list > img {
  align-self: center;
  margin-right: 40px;
}

.lang-list > p {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-left: 12px;
  margin-bottom: 1.5rem;
}

.frame-skill > p {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin: 12px;
}

.frame-skill > img {
  margin-right: 42px;
}

.lang-list-skill > div > p {
  margin-left: 16px;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.frame-skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfe1e6;
  margin: 0 24px 2rem;
}

.contact-me {
  background-image: url(images/contact\ form\ shapes.png);
  background-size: contain;
  background-position: right;
  background-color: #6070ff;
  border-top-left-radius: 70px;
  background-repeat: no-repeat;
  width: 100%;
  padding: 120px 24px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-intro1 {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 12px;
  justify-content: center;
}

.contact-intro2 {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  text-align: center;
}

#name {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  width: 100%;
  margin: 24px 24px 0;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding: 16px;
}

#email {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  width: 100%;
  margin: 24px 24px 0;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding: 16px;
}

input::placeholder {
  color: #172b4d;
}

textarea::placeholder {
  color: #404bb5;
}

#msg {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  width: 100%;
  height: 170px;
  margin: 24px 24px;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #404bb5;
  padding: 16px;
}

#btn {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  border: 1px solid #6070ff;
  cursor: pointer;
  border-radius: 8px;
  padding: 12px;
  background: #fff;
  align-self: self-start;
  margin-bottom: 45px;
}

#btn:enabled {
  background: #fff;
  color: #7f8cff;
}

#btn:hover {
  background: #6070ff;
  color: #fff;
}

#btn:active {
  background: #2230d2;
  color: #fff;
}

#btn:disabled {
  background: #fff;
  color: #5e6c84;
}

/*
MEDIA QUERIES
*/

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    margin: 0 auto;
    width: 80%;
  }

  .union {
    display: none;
  }

  .introduction {
    background-image: url(images/Header\ bg@2x.png);
    background-size: 100% 90%;
  }

  .first-intro,
  .second-intro,
  .social,
  .social-icons {
    width: 80%;
    margin: 0 auto;
  }

  div.social-icons {
    margin-left: 20px;
  }

  .menu-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  .menu-links li a {
    color: #344563;
    font-weight: 500;
    font-size: 15px;
  }

  .card-works {
    flex-direction: row;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
  }

  .card-works > * {
    flex: 1;
  }

  .portfolio-card1 {
    display: none;
  }

  .portfolio-desktop1 {
    display: block;
    width: 4rem;
    height: 100%;
  }

  .about-intro {
    border-top-right-radius: 90px;
    background-color: white;
  }

  .about {
    flex-direction: row;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
  }

  .about > * {
    flex: 1;
  }

  .about-first-intro,
  .skill-list {
    margin-top: 4rem;
  }

  .about-second-intro {
    font-size: 16px;
  }

  .lang-list {
    margin: 0;
    width: 100%;
  }

  .frame-skill {
    width: 100%;
    margin: 0 0 20px;
  }

  .lang-list-skill {
    display: flex;
    margin: 0;
    width: 100%;
  }

  .lang-list-skill > * {
    flex: 1;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .lang-list-skill > div > p {
    margin: 0;
  }

  .ul.about-social-icons {
    margin: 0;
  }

  .resumebtn {
    margin: 0 0 7rem 16px;
  }

  .contact-me {
    background-image: url(images/contact\ form\ background\ shapes\ desktop.png);
    background-size: 100% 80%;
    background-position: top 20%;
    padding-bottom: 150px;
  }

  .contact-me > * {
    width: 40%;
    margin: 0 auto;
  }

  form {
    align-items: center;
  }

  #btn {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .project-desc {
    gap: 2rem;
  }

  .introduction {
    height: 70vh;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }

  .first-intro,
  .second-intro,
  .social,
  .social-icons {
    width: 60%;
    margin: 0 0 0 10%;
  }

  div.social-icons {
    margin-left: 4%;
  }
}

@media screen and (min-width: 1220px) {
  .portfolio-desktop1 {
    height: 30vw;
  }

  .about {
    padding: 100px 0;
  }
}
