* {
  box-sizing: border-box;
}


li {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: -20px;
  
  }

.navbar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 14px 24px;
  align-items: center;
}

.logo {
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.introduction {
  background-image: url(/images/header-bg.jpg);
  padding-top: 100px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
}

.first-intro  {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

 .second-intro {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.social {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
} 

ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  margin-left: -20px;

}