body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: -20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  align-items: center;
  padding: 0;
}

nav {
  margin-right: 24px;
}

.logo {
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  margin-left: 24px;
}

.introduction {
  background-image: url(./images/header-bg.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-size: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
}

.first-intro {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin: 50px 24px 12px 24px;
}

.second-intro {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  margin: 0 24px 12px 24px;
}

.social {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0 12px 24px;
}

ul.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.projects-section {
  display: grid;
  grid-template-columns: 327px;
  grid-template-rows: auto auto auto auto;
  padding: 114px 24px 114px 24px;
  gap: 88px;
  background: #f7f7f9;
  width: 375px;
  height: 2788px;
}

.card-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  gap: 12px;
  height: 552px;
  padding: 16px;
  top: 114px;
  left: 24px;
}

.portfolio-card1 {
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 8px;
}

.project-desc {
  width: 295px;
  height: 288px;
  top: 248px;
  left: 16px;
  gap: 12px;
}

.project-title {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  width: 295px;
  height: 36px;
  margin-top: 2px;
  margin-bottom: 12px;
}

.frame2 {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  justify-content: flex-start;
  align-content: center;
}

.frame2 > img {
  margin: 0 12px;
}

.frame2 > h4 {
  color: #7a869a;
}

.text {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tag {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 203px;
  height: 24px;
}

ul.tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  gap: 30px;
  margin-left: -20px;
}

button#skill {
  color: #6070ff;
  border: 0 solid #6070ff;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.normal-button {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #6070ff;
  cursor: pointer;
  border-radius: 8px;
  padding: 12px;
  background: #fff;
}

.about-intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 100vw;
}

.resumebtn {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #6070ff;
  cursor: pointer;
  border-radius: 8px;
  padding: 12px;
  background: #fff;
  margin-left: 24px;
}

.lang-frame-skills {
  margin: 48px 0 113px 0;
}

.lang-list-skill {
  display: flex;
  justify-content: flex-start;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 0 36px 12px 36px;
  padding: 9px 0 9px 12px;
}

.lang-list {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.lang-list > img {
  height: 6px;
  align-self: center;
  margin-right: 64px;
}

.lang-list > p {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-left: 36px;
}

.frame-skill > p {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-left: 12px;
  margin-right: 12px;
}

.frame-skill > img {
  margin-right: 40px;
}

.lang-list-skill > p {
  margin-left: 16px;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.frame-skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfe1e6;
  margin: 0 24px;
}
